    ul { /* 取消ul預設的內縮及樣式 */
        margin: 0;
        padding: 0;
        list-style: none;
    }


    ul.list {
        
        font-family: 微軟正黑體, sans-serif;
          
    }

    ul.list li {

        position: fixed;
        top:245px;left:5px; /*距離上方 0 像素*/
        z-index:1; /*重疊時會在其他元素之上*/
        left:auto; /*距離左方的位置*/
    }

 
     ul.list a {
        background-color: none;
        border: #ccc 1px solid;
        color: #BBFFEE;
        display: block;
        padding: 0 30px;
        text-decoration: none;
        line-height: 40px;
    }
    ul.list a:hover { /* 滑鼠滑入按鈕變色*/
        background-color: #CCDDFF;
        color:#0044BB;
    }
    

