@charset "utf-8";
@media only screen and (min-width: 769px) {
body{
	background-color:#000000;
}
h1{
	color:#CCC;
	font-size: 100px;
}
ul.homemenu {
          font-size: 40px;
          height: auto;
          max-width: 100%;
    }
ul.homemenu1 {
          font-size: 40px;
          height: auto;
          max-width: 100%;
    }
ul.homemenu2 {
          font-size: 40px;
          height: auto;
          max-width: 100%;
    }
ul.homemenu3 {
          font-size: 40px;
          height: auto;
          max-width: 100%;
    }
iframe {
     height: 500px;
     max-width: 100%;
 }
img {
     height: auto;
     max-width: 100%;
 }
ul.fixed{
	height: auto;
    max-width: 100%;
}