@charset "utf-8";
@media only screen and (min-width: 769px) {
body{
	background-color:#000000;
}
h1{
	color:#CCC;

}
ul.homemenu {
          font-size: 50px;
          height: auto;
          max-width: 100%;
          
    }
ul.homemenu1 {
          font-size: 50px;
          height: auto;
          max-width: 100%;
         
    }
ul.homemenu2 {
          font-size: 50px;
          height: auto;
          max-width: 100%;
          left:400px;
    }
ul.homemenu3 {
          font-size: 50px;
          height: auto;
          max-width: 100%;
          
    }
ul.list {
          font-size: 30px;
          height: auto;
          max-width: 100%;
          
    }
ul.list1 {
          font-size: 30px;
          height: auto;
          max-width: 100%;
          
    }
ul.list2 {
          font-size: 30px;
          height: auto;
          max-width: 100%;
          
    }
ul.list3 {
          font-size: 30px;
          height: auto;
          max-width: 100%;
          
    }

ul.oldd {
          font-size: 25px;
          height: auto;
          max-width: 100%;
         
    }

iframe {
     height: 500px;
     max-width: 100%;
 }
img {
     height: auto;
     max-width: 100%;
 }
