@charset "utf-8";
body{
	background-color:#3A0088;
}
h1{
	color:#000;

}

ul.homemenu {
            font-size: 30px;
            height: auto;
            max-width: 40%;
            left:50px;
    }
ul.homemenu1 {
            font-size: 30px;
            height: auto;
            max-width: 40%;
            left:150px;
    }
ul.homemenu2 {
            font-size: 30px;
            height: auto;
            max-width: 40%;
            left:250px;
    }
ul.homemenu3 {
            font-size: 30px;
            height: auto;
            max-width: 40%;
            left:350px;
    }
ul.oldd {
          font-size: 15px;
          height: auto;
          max-width: 100%;
         
    }


iframe {
     height: 200px;
     max-width: 70%;
 }

img {
     height: auto;
     max-width: 70%;
 }
 