.pics img{ position:absolute;
  /* 淡出淡入效果2秒 */
  -webkit-transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -o-transition: opacity 2s ease-in-out;
  transition: opacity 2s ease-in-out;
 }
 .pics img:last-child:hover{
     /* 滑入時第一張透明度設0 */
      opacity:0;}