@charset "utf-8";
body{
	background-color: #6CF;
}
h1{
	color:#FFF;
	
}
ul.homemenu { 
            font-size: 40px;
            height: auto;
            max-width: 80%;
    }
ul.homemenu1 {
            font-size: 40px;
            height: auto;
            max-width: 80%;
    }
ul.homemenu2 {
            font-size: 40px;
            height: auto;
            max-width: 80%;
    }
ul.homemenu3 {
            font-size: 40px;
            height: auto;
            max-width: 80%;
    }
ul.oldd {
          font-size: 20px;
          height: auto;
          max-width: 100%;
         
    }
iframe {
     height: 450px;
     max-width: 100%;
 }
img {
     height: auto;
     max-width: 80%;
 }
