    

    ul { /* 取消ul預設的內縮及樣式 */
        margin: 0;
        padding: 0;
        list-style: none;
    }


    ul.homemenu3 {
        display: inline-block;
        font-family: shfo, sans-serif;
        font-size: auto;   
    }

    ul.homemenu3 li {
        position: fixed;
        white-space: nowrap;
        top:15; /*距離上方 0 像素*/
        z-index:1; /*重疊時會在其他元素之上*/
        left:950px; /*距離左方的位置*/
    }

 
     ul.homemenu3 a {
        background-color: none;
        color: #CC0000;
        display: block;
        padding: 0 100px ;
        text-decoration: none;
        line-height: 40px;

    }
    ul.homemenu3 a:hover { /* 滑鼠滑入按鈕變色*/
        background-color: none;
        color: #007777;
    }
    
  