    

    ul { /* 取消ul預設的內縮及樣式 */
        margin: 0;
        padding: 0;
        list-style: none;
    }


    ul.homemenu {
        display: inline-block;
        font-family: shfo, sans-serif;
        font-size: auto;   
    }

    ul.homemenu li {
        position: relative;
        white-space: nowrap;
        
    }

 
     ul.homemenu a {
        background-color: none;
        color: #0ff;
        display: block;
        padding: 0 100px ;
        text-decoration: none;
        line-height: 40px;

    }
    ul.homemenu a:hover { /* 滑鼠滑入按鈕變色*/
        background-color: none;
        color: #fCf;
    }
    
  
